/*-------- GLOBAL CSS VARIABLE --------*/
:root{
    --primary: #ddd;  
    --greyapple: #ecf0f1;
    --greenapple: #2ecc71;
    --darkgreen: #0fec6b;
    --darkmatter: #34495e;
    --darkermatter: #2c3e50;
    --dark: #333;
    --purple__colour: purple;
    --even__table__row: #f2f2f2;
    --table__hover: #ddd;
    --light: #fff;
    --buttonbackground: #696969;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
   
}
/*-------- GLOBAL CSS VARIABLE --------*/