@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?95m1no');
    src:  url('fonts/icomoon.eot?95m1no#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?95m1no') format('truetype'),
      url('fonts/icomoon.woff?95m1no') format('woff'),
      url('fonts/icomoon.svg?95m1no#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-caret-down-solid:before {
    content: "\e900";
  }
  .icon-cart-plus-solid:before {
    content: "\e901";
  }
  .icon-chevron-up-solid:before {
    content: "\e902";
  }
  .icon-envelope-regular:before {
    content: "\e903";
  }
  .icon-facebook-f-brands:before {
    content: "\e904";
  }
  .icon-heart-regular:before {
    content: "\e905";
  }
  .icon-instagram-brands:before {
    content: "\e906";
  }
  .icon-search-solid:before {
    content: "\e907";
  }
  .icon-sign-in-alt-solid:before {
    content: "\e908";
  }
  .icon-twitter-brands:before {
    content: "\e909";
  }
  .icon-user-solid:before {
    content: "\e90a";
  }
  .icon-whatsapp-brands:before {
    content: "\e90b";
  }
  
